body, h1, h2, h3, h4, p, ul, ol, li, form { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 0 0 40px 0; }

p { margin: 40px 40px 0 40px; }

#container { overflow: auto; margin: 0 40px; }

#header { }

#tweets { margin: 40px 220px 0 0; }
.tweet { overflow: auto; margin: 20px 40px 0 0; }
.tweet img { float: left; border: none; }
.tweet span { }
.details { margin-left: 68px; }
.username { font-size: 16px; font-weight: bold; margin-right: 8px; }
.username a { text-decoration: none; color: #000; }
.realname { font-size: 14px; color: #999; }
.text { display: block; font-size: 18px; padding: 2px 0 5px 0; }
.date { font-size: 11px; color: #999; }
.date a { outline: none; color: #999; }

.warning, .warning a { color: #cc0000; }

#update-status { position: absolute; top: 20px; right: 20px; width: 300px; height: 20px; line-height: 20px; text-align: right; border: solid 1px #e0e0e0; }

#navigation { margin: 0 0 0 0; width: 218px; float: right; }

.calendar { margin-top: 40px; border: solid 1px #e0e0e0; border-collapse: collapse; }
.calendar th { border: solid 1px #e0e0e0; padding: 0; color: #999999; }
.calendar td { border: solid 1px #e0e0e0; padding: 0; color: #7d7d7d;}
.calendar a { display: block; text-decoration: none; width: 30px; height: 30px; background: url(../img/site/bar.gif) 0 0 no-repeat; color: #000; font-weight: bold; }
.calendar span { display: block; width: 30px; height: 30px; text-align: center; line-height: 30px; }
.calendar .current { font-weight: bold; background-color: #e0e0e0; }
.calendar .noday { background-color: #f4f4f4; }

#year-navigation { margin-top: 40px; width: 218px; list-style: none; text-align: right; }
#year-navigation li { font-size: 18px; border-top: solid 1px #e0e0e0; }
#year-navigation a { display: block; text-decoration: none; color: #000; }
#year-navigation span { display: block; padding: 10px; }
#year-navigation .current-month { background-color: #f4f4f4; }

#footer { }
