body, h1, h2, h3, h4, p, ul, ol, li, form { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 0 0 40px 0; }

p { margin: 40px 40px 0 40px; }

#container { overflow: auto; margin: 0 40px; }

#header { }

#tweets { margin: 40px 220px 0 0; }
.tweet { overflow: auto; margin: 20px 40px 0 0; }
.tweet img { float: left; }
.tweet span { }
.details { margin-left: 68px; }
.username { font-size: 16px; font-weight: bold; margin-right: 10px; }
.realname { font-size: 16px; color: #999; }
.text { display: block; font-size: 18px; }
.date { font-size: 11px; color: #999; }

.warning, .warning a { color: #cc0000; }

#year-navigation { margin: 40px 0 0 0; width: 200px; float: right; list-style: none; text-align: right; }
#year-navigation li { font-size: 18px; width: 200px; border-top: solid 1px #e0e0e0; }
#year-navigation a { display: block; width: 200px; text-decoration: none; }
#year-navigation span { display: block; padding: 10px; }
#year-navigation .current-month { background-color: #e0e0e0; }

#footer { }
