RewriteEngine On
RewriteRule ^update/?$ ./updater.php
RewriteRule ^setup/?$ ./config/setup.php
RewriteRule ^setup/complete?$ ./config/setup_complete.php
RewriteRule ^setup/check_db?$ ./config/check_db.php
RewriteRule ^picks/?$ ./picks.php
RewriteRule ^([0-9]+)/([0-9]+)/?$ ./month.php?y=$1&m=$2
RewriteRule ^([0-9]+)/([0-9]+)/([0-9]+)/?$ ./day.php?y=$1&m=$2&d=$3