<?php
$local_config['twitter_username'] = 'yourtwitterusername';

$local_config['user_timezone'] = 'yourlocaltimezone';

$local_config['app_base_path'] = 'yourinstallationfolder';
$local_config['app_anywhere_api_key'] = 'youranywhereapikey';

$local_config['db_server'] = 'yourdatabaseservername';
$local_config['db_database'] = 'yourdatabasename';
$local_config['db_username'] = 'yourdatabaseusername';
$local_config['db_password'] = 'yourdatabasepassword';
$local_config['db_table_prefix'] = 'twonicle_';
?>